# build files
/.qlot/
/.bundle-libs/
/dist/
/build/
/.pixie.nrdl

# executables
*.abcl
*.fasl
*.dx32fsl
*.dx64fsl
*.lx32fsl
*.lx64fsl
*.x86f

# Editor files
*~
.#*
.*.sw[a-z]
.slime_paste
/.vscode/
/.repl/ros_history

# test files
/.vagrant/
/lighttpd-environment/test-data
